@use 'variables';

.contact {
    padding: 20vh;
    font-family: variables.$bodyFont;

    @media (max-width: 768px){
       padding: 0;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        padding: 0;
    }

    &__list {
        display: flex;
        justify-content: space-around;

        @media (max-width: 768px){
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            max-width: 50%;

            @media (max-width: 768px){
                width: 80%;
                margin: 50px 0;

                p {
                    font-size: 12px;
                }
            }

            @media (min-width: 769px) and (max-width: 1024px) {
                width: 80%;
                margin: 50px 15px;
            }

            h5 {
                font-weight: 400;
            }

            p {
                margin-top: 50px;
                font-weight: 600;
                color: variables.$color-third;
                font-style: italic;
                white-space: nowrap;
            }

            .form {
                display: flex;
                width: 100%;
                font-family: variables.$bodyFont;


                &__input {
                    margin-top: 60px;
                    margin-right: 10px;
                    padding: 1rem;
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid variables.$color-third;
                    cursor: pointer;

                    &:focus {
                        border-bottom: 1px solid variables.$color-third;
                        outline: none;
                    }

                    &::placeholder {
                        font-size: 16px;
                        opacity: 1;
                        color: variables.$color-third;
                        font-family: variables.$bodyFont;
    
                    }
                }

                &__button {
                    height: 50%;
                    width: 45%;
                    margin-top: 60px;
                    padding: 1rem;
                    background-color: transparent;
                    border: 1px solid variables.$color-third;
                    font-family: variables.$bodyFont;
                    font-size: 16px;
                    transition: all 0.2s ease-in-out;
                    white-space: nowrap;
                    cursor: pointer;
 

                    &:hover {
                        background-color: variables.$color-third;
                        color: variables.$color-blank;
                    }
                }
            }
        }
    }
}

.button_contact {
    max-width: 176px;
    width: 100%;
    border: 4px solid variables.$color-third;
    border-radius: 50px;
    text-decoration: none;
    padding: 0.8rem;
    font-size: 20px;
    font-weight: 500;
}