@use 'variables';


.header {
    background-color: transparent;
    font-size: 1.6em;

    @media (max-width: 768px) {
        width: 100%;
    }

    svg { 
        width: 35px;
        fill: #f9f9f9;

        @media (max-width: 768px) {
            max-width: 20px;
        }
    }
    
    &__container {
        display: flex;
        justify-content: space-around;
    }
    
    &__brand {
        max-width: 140px;
        margin-top: 4px;     
        
        @media (max-width: 768px) {
            max-width: 70px;
        }
    }

    &__links {
        display: flex;
        align-items: center;

        &__item {
            margin: 8px;
            a {
                text-decoration: none;
                color: #f9f9f9;

                @media (max-width: 768px) {
                   font-size: 20px;
                }
            }
        }
    }
}