@use 'variables';
@import 'mixins';

.hero {
    @include flex-column;
    position: relative;
    
    // BACKGROUND HERO
    background: center / cover no-repeat url(../../dist/images/header/bgHeroImage.jpg);

    background-attachment: fixed;
    z-index: 0;
    
    // FONT HERO AND HEADER
    font-family: variables.$headerFont;

    // OVERLAY
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.6);
        z-index: -1;
    }

    &__content {
        @include flex-center-center-column;
        min-height: 75vh;
        z-index: 1;

        @media (max-width: 768px) {
            h1 {
                font-size: 60px;
            }
            
           p {
            padding: 0 4rem;
            font-size: 23px;
           }
        }
    }
}