@use 'variables';
@import 'mixins';

.location {
    padding: 1vw 1vw 0.1vw 1vw;
    background-color: variables.$color-4;

    @media (max-width: 768px) {
        padding: 6vw 0;
    }

    &__list {
        &__item {

            @media (max-width: 768px) {
                flex-direction: column;

            }

            @media (min-width: 968px){
                &:nth-child(2) {
                    flex-direction: row-reverse;
                } 
            }
        }
    }

    &__container {
        @include flex-center;
        justify-content: space-between;
        max-width: 60%;
        max-height: 85%;
        margin: 0 auto;
        margin-bottom: 20px;

        padding: 0.6rem;
        background-color: variables.$background-color;

        position: relative;

        @media (max-width: 768px) {
            max-width: 100%;
            max-height: 100%;
            margin: 0;
            padding: 0.6rem 0;
            margin-bottom: 1rem;
        }

        @media (min-width: 768px) and (max-width: 1024px){
            max-width: 80%;
            padding: 0.6rem;
            margin: 0 auto;
            margin-bottom: 0.6rem;
            flex-direction: column;
        }

        &__image {
            width: 654px;
            height: 491px;

            &--margin-left {
                margin-left: 0.6rem;
            
                @media (max-width: 768px) {
                    margin: 0;
                }
            }

            &--margin-right {
                margin-right: 0.6rem;

                @media (max-width: 768px) {
                    margin: 0;
                }
            }

            @media (max-width: 768px) {
                margin-bottom: 0.6rem
            }

            @media (max-width: 1024px){
                max-width: 100%;
                margin: 0 0 0.6rem 0;
            }
        }


        &__content {
            @include flex-column;

            max-width: 654px;
            height: 491px;

            background-color: variables.$color-grey;

            @media (max-width: 768px) {
                height: 100%;
            }

            @media (min-width: 769px) and (max-width: 1024px) {
                height: 100%;
            }

            div {
                display: flex;
                flex-direction: column;
                padding: 4rem 6rem 0 6rem;

                @media (max-width: 768px) {
                    padding-bottom: 2rem;
                }

                @media (min-width: 769px) and (max-width: 1024px) {
                    padding: 4rem;
                }
            }

            h3 {
                margin-bottom: 1rem;
                margin-top: 10%;
            }

            p {
                width: 60%;
                margin-bottom: 0.6rem;
                text-align: justify;
            }

            span {
                font-size: 1rem;
                font-style: italic;
                margin-bottom: 0.1rem;
                color: variables.$color-second;

                &.number{
                    margin-top: 2rem;
                    font-size: 1.7rem;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        color: variables.$background-color;
                    }
                }
            }

            .btn {
                margin-top: 2rem;
                padding: 11px 15px;

                @media (max-width: 768px) {
                    margin-bottom: 2rem;
                }

                @media (min-width: 769px) and (max-width: 1024px) {
                    margin-bottom: 2rem;
                }
            }
        }

    }
}