@use 'variables';
@import 'mixins';

.menu {
   @include flex-column-center;
    min-height: 10vh;

    &__list {
        @include flex-center-center-column;
        padding: 4em 0;
        max-width: 55%;
        
        &__item {
            display: flex;
            width: 100%;
            opacity: 0;
            transform: translateY(-50px);
            transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;

            &:nth-child(2){
                flex-direction: row-reverse;
            }

            @media (max-width: 820px) {
                align-items: center;
                flex-direction: column;
                margin-bottom: 50px;


                &:nth-child(2){
                    flex-direction: column;
                }
            }

            &.show {
                opacity: 1;
                transform: translateY(0);
            }

            &__image {
                width: 220px;  
                height: 220px;
                border-radius: 50%;
                object-fit: cover;

                @media (max-width: 768px) {
                    width: 200px;
                    height: 200px;

                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }

            &__content {
                @include flex-center-center-column;
                text-align: justify;
                padding: 2em;

                @media (max-width: 768px) {
                    padding: 0;
                }

                h2 {
                    color: variables.$color-third;
                }
                
                p {
                    margin-top: 0.2em;
                }
            }
        }
    }
}