// COLORS
$color-blank: #ffff;
$color-grey: #f9f9f9;
$color-black: #0a0000; 
$background-color: #e7bd98; 
$header-color: #160e08; 
$color-second: #d1865f; 
$color-third: #49413f; 

// FONTS
$headerFont: "Amatic SC", serif;
$bodyFont: "Poppins", serif;