// COLORS
$color-blank: #ffff;
$color-grey: #f9f9f9;
$color-black: #0a0000; 
$background-color: #d7a374; 
$header-color: #160e08; 
$color-second: #d1865f; 
$color-third: #49413f; 

// FONTS
$mainFont: "Amatic SC", serif;