@use 'header';
@use 'hero';
@use 'menu';
@use 'variables';

* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

@mixin text($font--size: 22px) {
    font-size: $font--size;
    color: variables.$color-grey;
}

@mixin title($font--size: 45px) {
    @include text($font--size);
    color: variables.$color-blank;
}

body {
    background-color: variables.$background-color;
}

// TITLE SIZE
.title--big {
    @include title(75px);
}

.title {
    @include title();
}

.title--small {
    @include title(33px);
}

// TEXT SIZE
.text--big {
    @include text(25px);
}

.text {
    @include text();
}

.text-small {
    @include text(20px);
}
